[submodule "cf_cpu/extern/pybind11"]
	path = cf_cpu/extern/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "cf_cpu/extern/eigen"]
	path = cf_cpu/extern/eigen
	url = https://gitlab.com/libeigen/eigen.git
	branch = 3.4
